<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Map Links -->
    
    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel=stylesheet type=text/javascript href="{{ url_for('static', filename='config.js') }}"> -->
    

</head>
<body>
    <div class="container">

        <div class="row">
                <div class="col-sm-2">
                    <div style="height: 250px;"></div>
                </div>
            <div class="col-sm-8">
                <div style="height: 400px;" id="map"></div>
                    <script  src="{{ url_for('static', filename='config.js') }}"></script>    
                    <script  src="{{ url_for('static', filename='logic.js') }}"></script>
            </div>
            <div class="col-sm-2">
                <div style="height: 250px;"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div style="height: 400px;" id="bar"></div>
            </div>
        </div>
        <select id="selDataset" onchange="getData(this.value)">
            <option value="emoji_char">Positive</option>
            <option value="emoji_id">Compound</option>
            <option value="emoji_name">Negative</option>
        </select>
        <div class="row">

                <div class="col-sm-3">
                    <div style="height: 400px;" id="pie"></div>
                </div>
                <div class="col-sm-3">
                    <div style="height: 400px;" id="pie2"></div>
                </div>
                <div class="col-sm-3">
                    <div style="height: 400px;" id="pie3"></div>
                </div>
                <div class="col-sm-3">
                    <div style="height: 400px;" id="pie4"></div>
                </div>

            </div>
    </div>
    <script>
        
        // Plot the default route once the page loads
        var default_url = "/emoji_char";
        Plotly.d3.json(default_url, function(error, response) {
            if (error) return console.warn(error);
            var data = [response];
            var layout = { margin: { t: 10, b:100 } }
            Plotly.plot("bar", data, layout)
        })
        

        Plotly.d3.json("/pie", function(error, response) {
            if (error) return console.warn(error);
            var data = [response];
            var layout = { title: data[0]['title'],margin: { t: 100, b:10 } }
            Plotly.plot("pie", data, layout)
        })
        Plotly.d3.json("/pie2", function(error, response) {
            if (error) return console.warn(error);
            var data = [response];
            var layout = { title: data[0]['title'],margin: { t: 100, b:10 } }
            Plotly.plot("pie2", data, layout)
        })
        Plotly.d3.json("/pie3", function(error, response) {
            if (error) return console.warn(error);
            var data = [response];
            var layout = { title: data[0]['title'],margin: { t: 100, b:10 } }
            Plotly.plot("pie3", data, layout)
        })
        Plotly.d3.json("/pie4", function(error, response) {
            if (error) return console.warn(error);
            var data = [response];
            console.log(data[0]['title'])
            var layout = { title: data[0]['title'], margin: { t: 100, b:10 } }
            Plotly.plot("pie4", data, layout)
        })


        // Update the plot with new data
        function updatePlotly(newdata) {
            var Bar = document.getElementById('bar');
            Plotly.restyle(Bar, 'x', [newdata.x])
            Plotly.restyle(Bar, 'y', [newdata.y])
        }

        // Get new data whenever the dropdown selection changes
        function getData(route) {
            console.log(route);
            Plotly.d3.json(`/${route}`, function(error, data) {
                console.log("newdata", data);
                updatePlotly(data);
            });
        }
    </script>

   
</body>
</html>
